name: Deploy Test Studio

on:
  push:
    branches: [main]
    paths:
      - "dev/test-studio/**"
      - "pnpm-lock.yaml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm turbo build --filter=test-studio^...
      - run: pnpm sanity deploy -y
        working-directory: dev/test-studio
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_DEPLOY_TOKEN }}
