name: Setup a new npm package with Trusted Publishing

on:
  workflow_dispatch:
    inputs:
      package:
        description: "The package name name, for example @sanity/foo-bar"
        required: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm setup-npm-trusted-publish ${{ inputs.package }}
